@import "tailwindcss";


body{
    padding: 0;
    padding-top: 150px;
    margin: 0;
    font-family: "poppins";
    
  
  }
  @media (max-width: 600px) {
  body {
        padding-top: 100px;
  }
}
  
  html, body {
    overflow-x: hidden; 
    width: 100vw; 
  }

 


  
  
  #root {
    overflow-x: hidden;
  }

 
.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  